@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header{
    width: 1280px;
    margin: 63px auto 0;

}

.logo-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.logo-link {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 79px;
    color: #4BCAFF;
    margin-bottom: 40px;

}

.logo-span {
    color: #000000;
    font-size: 80px;
    line-height: 79px;
}

.hd-menu {
    display: flex;
    width: 100%;
    background: #35444F;
    border: 1px solid #000000;
    justify-content: center;
    margin-bottom: 48px;
}

.hd-menu-link {
    padding: 24px 32px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: solid #FFFFFF;
    border-width: 0 1px;
}

.hd-menu-link:hover {
    background: black;
}

.main-section {
    display: flex;
}

.as-menu {
    width: 345px;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 52px;
    border: 1px solid #000000;
}

.as-menu ul {
    width: inherit;
}

.as-link-wrapper {
    padding: 26px 78px 26px 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.as-link-wrapper:hover {
    background: #DBDBDB;
    text-align: center;
}

.as-menu-link {
    color: inherit;
}

.content-section {
    width: 885px;
    margin-right: auto;
}

.photo-container {
    border: 1px solid #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container:hover img {
    transform: scale(1.1);
    transition: transform 0.35s;
}

.photo-container img {
    width: 100%;
    height: 100%;
}

.text-section {
    margin: 36px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

footer{
    width: 1280px;
    margin: 15px auto;
}

.ft-menu {
    display: flex;
    width: 100%;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-evenly;
    margin-bottom: 48px;
}

.ft-menu-link {
    padding: 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.ft-menu-link:hover {
    text-decoration: underline;
    color: #3181A6;
}

.coryright {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 20px 0;
    flex-grow: 0.2;
    align-self: center;
    text-align: right;

}